#company_status {
    margin: 50px 0px;
}

.sec-maininfo {
    .boxname_inner {
        display: block;
        background-color: #E7E8EC;
        color: black;
        text-align: center;

        h2 {
            font-size: 20px;
        }

        h3 {
            padding: 10px 0px;
            font-size: 16px;
        }

        .alert-company {
            color: #ffff;
            background-color: $red-vitality !important;
            padding: 10px;
            border-radius: 0;
        }
    }
}

.body {
    .__Status {
        float: right;
        display: block;
        position: relative;
    }
}

#company_detail {
    .nav-tabs {
        background-color: $red-vitalitydark;
    }

    .nav-tabs .nav-link {
        background-color: $red-vitalitydark;
        padding: 0.5rem 0.95rem;
        font-weight: 400;
    }

    .nav-tabs .nav-link.active {
        color: #fff !important;
        font-weight: 600;
        border-bottom: 4px solid #B89761 !important;
        background-color: $red-vitality !important;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    }

    .btn_function {
        color: #222;
        background-color: #fff;
        padding: 15px 0px;
        display: flex;
        flex-direction: row;

        .__box {
            width: 70px;
            height: 70px;
            margin: 5px 10px;
            text-align: center;
            padding: 0.375rem 0.75rem;
            border: 1px solid #D5D5D5;
            border-radius: 10px;
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


            .function-name {
                font-size: 13px !important;
                font-weight: 400 !important;

            }

            .btn.btn-default {
                padding: 5px 0px;
            }
        }

    }

    [type="checkbox"].filled-in:checked.chk-col-red+label:after {
        border: 2px solid $red-vitality;
        background-color: $red-vitality;
    }
}

.w-100px {
    width: 100px;
    float: left;
    padding-right: 5px;
}

.modal-dialog.modal-lg.box__director {
    max-width: 1345px;

}

.form-horizontal.__companymerger {
    padding: 40px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
}

.form-horizontal._AddHistory {
    padding: 40px;
}

.h-60 {
    display: block;
    position: relative;
    height: 60px;
}

.detail__box {
    display: block;
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    margin: 30px 0px;
}

.width-45 {
    width: 45px;
}

.display-flex {
    display: flex;
}